# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependencies
/vl-1.3.2
/fltk-1.3.0

# Builds
/debug
/release
/rtik
/rtik_debug

# Environment
.project
.cproject
